
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status ,#number_of_objects
{
font-size: 18px;
float: none;
}

body 
{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px rgb(113, 243, 243);
    border-radius: 10px;
    margin-top: 25px;
    float: none;
}